<!DOCTYPE html>
<html>
<head>
    <title>VoteBot</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel='stylesheet' href='/css/libs/reset.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon" type="icon/png" href="/img/logo.png">
</head>
<body>
</body>
</html>
